#chat > header{
    position: sticky;
    top: 0;
    display:flex;
    background-color: rgba(110, 128, 139, 0.897);
    justify-content: space-between;
    padding: 5px 16px;
    border-bottom: 1px solid #d5d9de;
}

.chat-user{
    display: flex;
    align-items: center;
}

.chat-user img{
    width: 35px;
    height: 35px;
    border-radius: 100%;
}

.chat-user p {
    font-size: 14px;
    margin: 0 14px;
    font-weight: 500;
}

.chat-actions button:hover{
    background-color: thistle;
    cursor: pointer;
}

.chat-actions{
    display: flex;
}

.chat-actions button {
    border: 0;
    background-color: transparent;
    width: 25px;
    outline: none;
}

/* Body */

#chat > section{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

#chat .msg{
    max-width: calc(100% - 50px);
    margin-bottom: 12px;
    border-radius: 10px;
    padding: 14px;
}

#chat .receiver{
    background-color: rgb(114, 174, 223);
    color: honeydew;
    border-top-left-radius: 0;
}

#chat .sender{
    background-color: rgb(218, 218, 218);
    color: rgb(105, 105, 105);
    border-top-right-radius: 0;
    align-self: flex-end;
}

/* Footer */

#chat footer{
    display: flex;
    border-top: 1px solid #dbd9d9;
    background-color: whitesmoke;
}

#chat footer button{
    background-color: transparent;
    border: 0;
    outline: none;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    outline: none;
}

#chat footer button:hover{
    background-color: #d1d1d1;
    cursor: pointer;
}

.input-chat-msg{
    width: 100%;
    border: 0;
    font-size: 14px;
}

.input-chat-msg:focus{
    outline: none;
}

.input-chat-msg::placeholder{
    color: #c9cccf;
}

/* Chat wrapper */

#chat {
    width: 360px;
    height: 500px;
}